chainer==4.4.0
click==6.7
filelock==3.0.6
Flask==1.0.2
itsdangerous==0.24
Janome==0.3.6
Jinja2==2.10
MarkupSafe==1.0
nltk==3.3
numpy==1.15.1
progressbar==2.5
progressbar2==3.38.0
protobuf==3.6.1
python-utils==2.3.0
six==1.11.0
Werkzeug==0.14.1
